<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thenewboston.project">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RootHome" />
        <activity android:name=".FlashActivity" />
        <activity android:name=".ShowCard" />
        <activity android:name=".LessonActivity" />
        <activity android:name=".NewLesson" />
        <activity android:name=".NewCard" />
        <activity android:name=".exercises" />
        <activity android:name=".ShowLesson" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".NewLessonPath" />
        <activity android:name=".DoExercise"></activity>
    </application>

</manifest>